﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome User</title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">



</head>
<body>
    <div class="top">
        <div id="searcharea">
            <label for="search">live search</label>
            <p>Enter the name or info about a speaker</p>
            <input type="search" name="search" id="search" placeholder="name or info" />
        </div>
    </div>

    <div class="container">
        <h2>File Upload</h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Upload Image to S3 Bucket</button>

        <!-- Modal Box for Upload-->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <form action="#">
                            <div class="input-file-container">
                                <input class="input-file" id="filename" type="file" accept="image/*">
                                <label tabindex="0" for="filename" class="input-file-trigger">Select a file...</label>
                                <input type="hidden" id="hidden-counter" name="hidden-counter" value="1" />
                            </div>
                            <p class="file-return"></p>
                        </form>
                        <form id="dataForm">
                            <label for="Name" style="margin-top: 20px;"><b>Name</b></label>
                            <input type="text" name="name" id="name" placeholder="Name" required="">
                            <label for="ShortName"><b>ShortName</b></label>
                            <input type="text" name="shortName" id="shortName" placeholder="ShortName" required="">
                            <label for="Reknown"><b>Reknown</b></label>
                            <input type="text" name="reknown" id="reknown" placeholder="Reknown" required="">
                            <label for="Bio"><b>Bio</b></label>
                            <textarea draggable="auto" placeholder="Bio" id="bio" cols="50" rows="5"></textarea>
                        </form>


                    </div>
                    <div class="modal-footer">
                        <button onclick="uploadFile()" class="btn btn-success">Upload to S3</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal Box for Upload-->
    <div id="predictions">
        <div style="margin-top:30px; margin-left:20px; margin-bottom:30px; clear:left; float:left">
            <img id="img_preview1" src="" width="400" />
        </div>
        <div id="concepts" class="conceptBox">
        </div>
    </div>
</body>
</html>

<script>
    /* Check if User has Paid for the subscription*/
    var paidSub = true;
    if (paidSub == false) {
        document.getElementById("search").disabled = true;
        if (document.getElementById("search").disabled = true) {
            document.getElementById("search").placeholder = "This is a paid Subscription";
            var element = document.getElementById("search");
            element.style.opacity = "0.8";
        }
    }
    /* Using Clarifai to verify images uploaded are faces*/
    try {
        var app = new Clarifai.App({
            apiKey: "fb14d52fb58144cfb824dfdb064a1083"  //Api key
        });
    }
    catch (err) {
        alert("Need a valid API Key!");
        throw "Invalid API Key";
    }

    function uploadFile() {
        var file = document.getElementById('filename').files[0];
        if (filename.value == '') {
            alert('Please browse for a file!');
            return;
        }
        var FR = new FileReader();
        FR.addEventListener("load", function (e) {
            var base64 = e.target.result;
            var localbase64 = FR.result.split("base64,")[1];
            console.log(localbase64);
            app.models.predict(Clarifai.FACE_DETECT_MODEL, localbase64).then(
                function (response) {
                    if (response.outputs["0"].data.regions["0"].region_info.bounding_box) {
                        function WebFormData(inName, inShort, inReknown, inBio) {
                            this.Name = inName;
                            this.ShortName = inShort;
                            this.Reknown = inReknown;
                            this.Bio = inBio;

                            var colName = $("#Name").val();
                            var colShort = $("#shortName").val();
                            var colReknown = $("#reknown").val();
                            var colBio = $("#bio").val();

                            var webFormData = new WebFormData(collName, colShort, colReknown, colBio);
                            var webFormDataInString = JSON.stringify(webFormData);

                            $updateDetails = $.ajax({
                                type: 'POST',
                                url: '/Talents/SetTalentDetails',
                                data: { model: webFormDataInString },
                                dataType: 'json',
                                cache: false,

                            })
                            $updateDetails.done(function (response) {
                                if (response.success) {
                                    console.dir(response.responseText);
                                    new noty({
                                        text: response.responseText,
                                        type: 'success',
                                        layout: 'center',
                                        theme: 'relax',
                                        maxVisible: 3,
                                    }).show();
                                    $("#dataForm")[0].reset();
                                }
                            });

                            $updateDetails.fail(function (response) {
                                if (!response.success) {
                                    new noty({
                                        text: response.responseText,
                                        type: 'error',
                                        layout: 'center',
                                        theme: 'relax',
                                        maxVisible: 3,
                                    }).show();
                                    $("#dataForm")[0].reset();
                                }
                            });
                        }
                    } else {
                        alert("FAILED");
                    }
                });
        });
        FR.readAsDataURL(file);
    }



    /* File trigger for file upload*/
    document.querySelector("html").classList.add('js');

    var fileInput = document.querySelector(".input-file"),
        button = document.querySelector(".input-file-trigger"),
        the_return = document.querySelector(".file-return");

    button.addEventListener("keydown", function (event) {
        if (event.keyCode == 13 || event.keyCode == 32) {
            fileInput.focus();
        }
    });
    button.addEventListener("click", function (event) {
        fileInput.focus();
        return false;
    });
    fileInput.addEventListener("change", function (event) {
        the_return.innerHTML = this.value;
    });


</script>

<!-- Reference Links

    https://codepen.io/GeoffreyCrofte/pen/HbwcG
    https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_modal_sm&stacked=h
    -->
